div {
    color: #000000;
    font-size: 25px; 
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    background-image: url(dbc9fb05b378cd70653f5246b5aec87c5a0d8db0.jpeg);
    background-attachment: fixed;
    background-position: center top;
    /* i can move the background image by px also */
    background-position: 10px 20px;
    background-size: cover;
}