.first {
  color: #000000;
  font-size: 35px;
  background-color: blanchedalmond;
  /* i can move the background image by px also */
  padding: 10px 20px;
  width: 40%;
  margin: auto;
  margin-top: -40px;
  display: none;
}
/* backgrounds */
.trying {
  color: #000000;
  font-size: 30px;
  background-color: lightblue;
  background-image: url("https://www.w3schools.com/css/img_fjords.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20px 29px;
  width: 40%;
  margin: auto;
  border: 10px solid #00ff00;
  display: none;
}

.one {
  border-bottom: 2px solid #000000;
  color: black;
}

.two {
  border-bottom: 2px solid blue;
  color: blue;
}

.three {
  border-bottom: 2px solid rgb(43, 198, 226);
  color: rgb(43, 220, 226);
}

.four {
  border-bottom: 2px solid burlywood;
  color: burlywood;
}

/* multi  selector */
.one,
.two,
.three,
.four {
  font-size: 40px;
  padding: 20px;
  margin: 40px;
  background-color: #eee;
  display: none;
}

/* nesting */
div .testone {
  font-size: 30px;
  color: #000000;
  background-color: #f0f0f0;
  padding: 20px;
  width: 20%;
  margin: auto;
}

div .testtwo {
  font-size: 50px;
  color: #801515;
  background-color: #070707;
  padding: 40px;
  width: 30%;
  margin: auto;
}

.testone {
  border: 2px solid #000000;
  font-size: 10px;
  color: #000fff;
}

.test {
  font-size: 20px;
  color: #000000;
  background-color: #f0f0f0;
  padding: 10px;
  width: 50%;
  margin: auto;
}

div .testone,
div .testtwo,
.testone,
.test {
  display: none;
}

/* overflow */
.overflow {
  font-size: 40px;
  color: black;
  background-color: gray;
  width: 40%;
  margin: auto;
  height: 200px;
  padding: 20px;
  overflow: auto;
  display: none;
}

/* Text shadow */
.textshadow {
  font-size: 50px;
  color: red;
  background-color: gainsboro;
  text-shadow: #000fff 2px 2px 4px;
  padding: 20px;
  display: none;
}

/* Alignment */
.alignment {
  text-align: center;
  font-size: 60px;
  background-color: azure;
  color: #070707;
  direction: ltr;
  display: none;
}

/* inheritance */
.inherit {
  font-size: 40px;
  color: #000000;
  background-color: #f0f0f0;
  padding: 20px;
  width: 40%;
  margin: auto;
  border: 2px solid #000000;
  display: none;
}

.child {
  font-size: 30px;
  color: inherit;
  background-color: #f0f0f0;
  padding: 20px;
  width: 20%;
  margin: auto;
  border: inherit;
  display: none;
}

/* font family */
.font {
  background-color: gray;
  font-size: 40px;
  padding: 20px;
  color: #000000;
  border: #000fff 2px solid;
  display: none;
}

/* mouse cursor */
.button,
.mouse-cursor {
  font-size: 30px;
  background-color: aquamarine;
  color: #000000;
  border: #070707 2px solid;
  padding: 20px;
  text-align: center;
  margin: -8px;
  width: auto;
  display: none;
}

.button {
  cursor: pointer;
}

/* float , clear  */
.float {
  margin: 0;
  display: none;
}

.float div {
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  width: 23.75%;
  color: black;
  background-color: #f0f0f0;
  display: none;
}

.clear {
  clear: both;
}

/* opacity */
.opacity {
  opacity: 0.5; /* Changed from 'none' to 0.5 */
  font-size: 40px;
  background-color: aquamarine;
  display: none;
}

.opacitytwo {
  opacity: 0.4;
  font-size: 40px;
  background-color: aquamarine;
  display: none;
}

/* position */
.position_one {
  background-color: aqua;
  font-size: 40px;
  color: #00ff00;
  position: sticky;
  top: 0;
  padding: 20px;
  width: 40%;
  margin: auto;
  text-align: center;
  display: none;
}

.position_two {
  background-color: #070707;
  font-size: 40px;
  color: blue;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  margin: auto;
  text-align: center;
  display: none;
}

/* z_index */
.z_index {
  padding: 20px;
  font-size: 30px;
  color: #000fff;
  background-color: aqua;
  position: absolute;
  z-index: 3;
  display: none;
}

.z_indexx {
  padding: 20px;
  font-size: 30px;
  color: #000000;
  background-color: #d10909;
  position: absolute;
  z-index: 1;
  display: none;
}

.z_indexxx {
  padding: 20px;
  font-size: 30px;
  color: green;
  background-color: yellow;
  position: absolute;
  z-index: 2;
  display: none;
}

/* lists style */
.list-style {
  list-style: armenian inside;
  display: none;
}

/* table style */
table {
  background-color: gray;
  color: #000000;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 60%;
  margin: auto;
  display: none;
}

.age {
  color: #000000;
  font-size: 20px;
  background-color: yellow;
  padding: 15px;
  border: #000000 2px solid;
  width: 20%;
  margin: auto;
}

.team {
  color: #000000;
  font-size: 20px;
  background-color: #6be35c;
  padding: 15px;
  border: #000000 2px solid;
  width: 30%;
  margin: auto;
}

.player {
  color: #000000;
  font-size: 20px;
  background-color: #2196f3;
  padding: 15px;
  border: #000000 2px solid;
  width: 30%;
  margin: auto;
}

thead {
  background-color: #f56565;
  color: #ffffff;
}

/* pseudo classes */
.pseudoone:hover {
  color: green;
  text-decoration: none;
}

.pseudotwo:visited {
  color: #e0f008;
  text-decoration: none;
}

.checkbox:checked {
  background-color: #f0f0f0;
  color: #4408cf;
}

.lol,
.pseudo,
.pseudoone,
.pseudotwo,
.pseudothree,
.checkbox {
  display: none;
}

/* pseudo elements (first_letter , first_line , selection ) */
.elementone::first-letter {
  font-size: 30px;
  color: #4408cf;
  background-color: #f0f0f0;
  display: none;
}

.elementtwo::first-line {
  font-size: 10px;
  color: #0fcf08;
  background-color: #f0f0f0;
  display: none;
}

.elementthree::selection {
  font-size: 20px;
  color: rgb(109, 128, 0);
  background-color: #000000;
  display: none;
}

.elementone,
.elementtwo,
.elementthree {
  display: none;
}

/* pseudo elements (before , after , content) */
.parent {
  display: flex;
  align-items: flex-start;
  background-color: #eee;
  padding: 20px;
  width: 700px;
  border-radius: 8px;
  display: none;
}

.letter {
  font-size: 60px;
  font-weight: bold;
  margin-right: 20px;
  line-height: none;
  color: #000;
}

.info {
  font-size: 18px;
  line-height: 1.6;
  color: #111;
}

.info::after {
  content: "";
  width: 3px;
  height: 100%;
  background-color: aquamarine;
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.info::before {
  content: "Info: ";
  font-weight: bold;
  color: #000;
}

/* border radius */
.border-radius {
  width: 80px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  margin: 40% auto;
  color: aqua;
  display: none;
}

.press a:hover {
  color: #00ff00;
  text-decoration: none;
}

/* box_shadow */
.box_shadow {
  padding: 20px;
  width: 200px;
  height: 30%;
  background-color: rgb(229, 18, 18);
  margin: 40% auto;
  box-shadow: 14px 12px 6px -1px #000000;
  display: none;
}

/* just revision */
.hazem {
  padding: 20px;
  width: 20%;
  margin: 20px auto;
  height: 100%;
  box-shadow: 10px 2px 30px 4px gray;
  background-color: burlywood;
  position: relative;
  text-shadow: #f56565 20px;
  display: none;
}

.hazemone {
  text-align: center;
  height: 50%;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #2196f3;
  width: -20px;
  margin-top: 2px;
  cursor: pointer;
  text-decoration: none;
  display: none;
}

.linkone:hover {
  color: #d0ff00;
}

.link:visited {
  color: #00ff00;
}

.linkone:visited {
  color: #0fcf08;
}

.hazem::after {
  width: 2px;
  content: "";
  position: absolute;
  height: 99%;
  color: #321580;
  display: inline-block;
  background-color: #00ff00;
  margin-left: 177px;
  border: 2px solid yellow;
  top: -1px;
}

.hazem {
  float: inline-end;
}

/* box sizing */
.father {
  width: 600px;
  padding: 20px;
  background-color: antiquewhite;
  margin: 20px auto;
  overflow: hidden;
  display: none;
}

.baby {
  width: 300px;
  float: left;
  border: 20px solid chartreuse;
  height: 20px;
  padding: 30px;
  box-sizing: border-box;
  display: none;
}

/* transition */
.transition {
  width: 110px;
  padding: 20px;
  height: 30px;
  background-color: pink;
  color: #000000;
  margin: 20px auto;
  transition-delay: 0.5s;
  transition-duration: 0.8s;
  transition-timing-function: ease;
  text-align: center;
  display: none;
}

.transition:hover {
  cursor: pointer;
  width: 200px;
  height: 60px;
  border: 5px solid rgb(11, 226, 241);
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url(dbc9fb05b378cd70653f5246b5aec87c5a0d8db0.jpeg);
}

/* important declaration */
.important {
  background-color: #00ff00 !important;
  display: none;
}

/* the margin collapse */
.baba {
  width: 600px;
  height: 200px;
  background-color: gray;
  padding: 10px;
  overflow: hidden;
  display: none;
}

.baba .right {
  float: left;
  height: 200px;
  background-color: #000fff;
  width: 300px;
}

.baba .left {
  float: right;
  height: 200px;
  width: 300px;
  background-color: rgb(49, 49, 49);
}

.red_left {
  width: 300px;
  height: 100px;
  background-color: red;
  margin-bottom: 20px; /* bigger */
}
/* the margin how is bigger win */
.green_left {
  width: 300px;
  height: 100px;
  background-color: #00ff00;
  margin-top: 10px; /* smaller */
}

/* css variables */
:root {
  --main_color: rgb(22, 146, 218);
  --main_width: 200px;
}

.css {
  width: var(--main_width);
  height: 100px;
  background-color: var(--main_color);
  display: none;
}

.cssone {
  width: var(--main_width);
  height: 80px;
  background-color: var(--main_color);
  color: var(--main_color);
  display: none;
}

.csstwo {
  color: black;
  background-color: var(--main_color);
  display: none;
}

/* <!-- flex box (direction , wrap , flow )--> */
.flex {
  width: 500px;
  padding: 10px;
  background-color: #979393;
  margin: 40% auto;
  display: flex;
  flex-direction: row;
  /* short hand */
  flex-flow: row-reverse wrap;
  display: none;
}

.flex div {
  width: 25%;
  background-color: #ff0000;
  height: 40px;
  text-align: center;
  font-size: 30px;
}

/* flex box justify content */
/* 
* { 
    box-sizing: border-box;  
}
*/
.justify {
  width: 600px;
  padding: 20px;
  background-color: #f7f0f0;
  margin: 20% auto;
  display: flex;
  justify-content: space-between;
  display: none;
}

.justify div {
  color: whitesmoke;
  width: calc(98% / 3);
  padding: 20px;
  text-align: center;
  background-color: red;
}

/* flex box (align items ) */
.center {
  width: 400px;
  height: 400px;
  background-color: #4408cf;
  color: yellow;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

/* <!-- flex box (grow,shrink,order ) --> */
.grow {
  width: 450px;
  height: 50px;
  background-color: gainsboro;
  margin: 20% auto;
  padding: 10px;
  border: 2px solid greenyellow;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  display: none;
}

.grow div {
  width: 300px;
  height: 50px;
  color: #070707;
  background-color: #801515;
}

.twoo {
  flex-grow: 2;
  /* flex-shrink: ; < seconed option to make it smaller */
  order: 3;
}

/* flex(grow,shrink,basis) */
.basis {
  box-sizing: border-box;
}

.basis {
  width: 400px;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #f56565;
  justify-content: space-between;
  margin: 20% auto;
  display: none;
}

.basis div {
  width: calc(96% / 4);
  align-content: center;
  padding: 10px;
  border: #000000 solid 4px;
  color: white;
}

.basis_try {
  flex: 2 200px;
}

/* filters */
.img {
  width: 303px;
  transition: 0.5s;
  filter: blur(5px);
  display: none;
}

.img:hover {
  filter: blur(0px);
}

/* gradients */
.gradients {
  width: 400px;
  height: 200px;
  margin: 20% auto;
  background-color: #eee;
  position: relative;
  display: none;
}

.gradients::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -3px;
  background-image: linear-gradient(
    to right,
    red 20%,
    red 40%,
    green 40%,
    green 60%,
    black
  );
}

/* grid (template  (column,row,gap)) */
.grid {
  box-sizing: border-box;
  display: grid;
  width: 800px;
  height: 300px;
  margin: 20% auto;
  padding: 20px;
  background-color: #000;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 100px auto;
  row-gap: 10px;
  column-gap: 10px;
  gap: 20px, 20px;
  display: none;
}

.grid div {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: red;
  text-align: center;
}

/* Complete Layout With Template Areas */
.page {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #eee;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 60px auto 60px;
  grid-template-areas:
    "logo logo logo logo logo logo list list  list  list "
    "cont cont cont cont cont cont cont side side side "
    "foot foot foot foot foot foot foot foot foot foot ";
  display: none;
}

.logo {
  grid-area: logo;
  background-color: #000;
  color: white;
  margin: 0;
}

.list {
  grid-area: list;
  background-color: #000fff;
  color: white;
}

.list ul li {
  list-style: none;
  display: inline-block;
}

.cont {
  grid-area: cont;
  background-color: #00ff00;
  color: white;
}

.side {
  grid-area: side;
  background-color: yellow;
  color: white;
}

.foot {
  grid-area: foot;
  background-color: red;
  color: white;
}

/* Grid - Min, Max And Auto Fill */
.minmax {
  box-sizing: border-box;
  height: 400px;
  background-color: #000000;
  color: #eee;
  display: grid;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  display: none;
}

.minmax div {
  font-size: 30px;
  text-align: center;
  background-color: #000fff;
}

/* transform (2D) = (scale(x),(y)) , (rotate) , (translate) ,(skew) , (matrix = make all this Except rotate)  */
.Transform {
  width: 400px;
  padding: 20px;
  height: 300px;
  background-color: #0b126e;
  color: #080000;
  transition: 1s;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20% auto;
  font-size: 40px;
  display: none;
}

.Transform:hover {
  transform: scale(1.5) rotate(20deg) translate(10px, 20px) skew(-30deg, -20deg);
  transform: matrix();
  cursor: pointer;
  background-image: linear-gradient(red, blue, yellow);
}

/*  Animation - KeyFrames, Name, Duration */
.Animation {
  width: 300px;
  height: 200px;
  margin: 20% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000fff;
  color: #000;
  animation-name: change-color;
  animation-duration: 5s;
  transform-origin: right top;
  display: none;
}

@keyframes change-color {
  0% {
    background-color: #000fff;
    width: 300px;
    color: #000;
    transform: rotate(0deg);
  }

  50% {
    background-color: #f56565;
    width: 200px;
    color: blueviolet;
    transform: rotate(360deg);
    transform: translate3d(100px);
  }

  100% {
    background-color: #000fff;
    width: 300px;
    color: #000;
    transform: rotate(0deg);
  }
}

/* Animation - Iteration Count, Timing Function, Spinner Loading */
.spin {
  width: 50px;
  height: 50px;
  margin: 20% auto;
  border: 5px solid #000000;
  background-color: rgb(235, 232, 232);
  border-radius: 50%;
  border-left-color: transparent;
  animation-name: spin;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
  animation-play-state: running;
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin:hover {
  width: 50px;
  height: 50px;
  border: black solid 8px;
  background-color: rgb(235, 232, 232);
  animation-name: spin;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: alternate;
  border-left-color: transparent;
  transition-duration: 1s;
  animation-play-state: paused;
}

/* Up And Down Loading Animation Training */
.up-and-down {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 20% auto;
  display: none;
}

body {
  background-color: rgb(255, 244, 244);
  margin: 0;
}

.up-and-down div {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  border-radius: 50%;
  animation-name: up-down;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: orangered;
}

.up-and-down .up-one {
  animation-delay: 0s;
}

.up-and-down .up-two {
  animation-delay: 0.3s;
}

.up-and-down .up-three {
  animation-delay: 0.6s;
}

@keyframes up-down {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0.3;
    transform: translateY(-20px);
  }
}

/* CSS Selectors Reference */
.big > .small {
  color: red;
}

input[type="text"] + span {
  color: blue;
}

div:last-of-type {
  color: orangered;
}

p:first-of-type {
  color: green;
}

div:nth-last-child(3) {
  color: purple;
}

div:nth-last-of-type(3) {
  color: orange;
}

::placeholder {
  color: #000000;
  font-size: 20px;
}

input[type="text"] :required {
  border: 2px solid red;
}

p:not(:first-of-type) {
  color: firebrick;
}

.selectors {
  display: none;
}

/* Media Queries And Responsive Designs */
.media {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
}

.media > div {
  background-color: #f56565;
  color: #000000;
  width: 24%;
}

@media (min-width: 200px) and (max-width: 700px) {
  .media > div {
    color: rgb(208, 255, 0);
    background-color: #8c00ff;
  }
}
